*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}
.container{
 display: grid;
 grid-template-columns: 2fr 1fr;
 gap: 15px;
 align-items: flex-start;
 padding: 5px 5%;   
}
.container .main-video{
    border-radius: 5%;
    padding: 10px;

}
.container .main-video video{
    border-radius: 5%;
width: 100%;
}
.container .main-video .title{
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.container .video-list{
  border-radius: 5px;
  height: 520px;
  overflow-y:scroll ;  
}
